<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home/css/home.css">
    <title>Document</title>
  </head>
  <body>

    <nav class="home-navbar">
      <a href="/"><img class="home-navbar-img" src="/home/img/homepage-logo.png" alt></a>
      <form class="home-navbar-form" action="/courses/search">
        <input name="search-course" type="text">
        <button type="submit"></button>
      </form>
      <a href="/profile/">
        <img class="home-navbar-profile-pic" src="/home/img/profile-pic.png" alt>
      </a>
    </nav>

    <main>

      <h1 class="home-title">Princípais cursos por categoria.</h1>

      <% if (courses) { %>
        <% courses.forEach(course => { %>
          <div class="course-container">

            <div class="course-header">
              <h2>Os melhores cursos de <a href="/courses/search?topic=<%= course.topic %>"><%= course.topic %></a></h2>
              <div class="horizontal-line"></div>
            </div>
          
            <div class="courses-row">
              <% course.topCourses.forEach(topCourse => { %>
                <div class="course-item">
                  <a href="<%= topCourse.src %>">
                    <img id="<%= topCourse.title %>" class="course-image" src="/home/img/image.png" alt="">
                  </a>
                  <label for="<%= topCourse.title %>"></label>
                  <p class="course-title"><%= topCourse.title %></p>
                  <p class="course-instructor"><a href="/courses/instrutor/<%= topCourse.creator %>"><%= topCourse.creator %></a></p>
                  <p class="course-rating">
                    <span>XXXXX</span> <span>42</span>
                  </p>
                </div>
              <% }) %>
            </div>

          </div>
      <% }) %>
    <% } %>

    </main>
  </body>
</html>
